@model IEnumerable<cinema_project.Models.Genre>

@{
    ViewData["Title"] = "Genres";
}

<h1>Genres</h1>

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addGenre" onclick="addGenre()">
    Add Genre
</button>

<div id="genreTable"></div>
<div id="deleteTable"></div>
<div id="detailsTable"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreName)
                </td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addGenre" onclick="addGenre(@item.Id)">
                        Edit
                    </button> |
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#genreDetails" onclick="genreDetails(@item.Id)">
                        Details
                    </button> |
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteGenre" onclick="deleteGenre(@item.Id)">
                        Delete
                    </button>
                    @await Html.PartialAsync("_DeleteGenrePartialView", item)
                    |
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function addGenre(id) {
        $.ajax({
            type: "Get",
            url: "/Genres/CreateOrEdit" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#genreTable").html(result);
                $("#addGenre").modal('show');
            }
        });
    }

    function genreDetails(id) {
        $.ajax({
            type: "Get",
            url: "/Genres/Details" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#detailsTable").html(result);
                $("#genreDetails").modal('show');
            }
        });
    }

    function deleteGenre(id) {
        $.ajax({
            type: "Get",
            url: "/Genres/Delete" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#deleteTable").html(result);
                $("#deleteGenre").modal('show');
            }
        });
    }


</script>
