@model IEnumerable<cinema_project.Models.Genre>

@{
    ViewData["Title"] = "Genres";
}

<h1>Index</h1>

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addGenre" onclick="addGenre()">
    Add Genre
</button>

<div id="genreTable"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addGenre" onclick="addGenre(@item.Id)">
                        Edit
                    </button> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function addGenre(id) {
        $.ajax({
            type: "Get",
            url: "/Genres/CreateOrEdit" + (id? "?id=" + id: ""),
            success: function (result) {
                $("#genreTable").html(result);
                $("#addGenre").modal('show');
            }
        });
    }
</script>
