@model cinema_project.Models.Ticket

@{
    ViewData["Title"] = "_TicketDetailPartialView";
}


<div class="modal fade" role="dialog" tabindex="-1" id="ticketDetails" aria-labelledby="ticketDetailsLable" aria-hidden="true">
    <div class="modal-dialog" modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content" style="background-color:lightblue !important;">
            <div class="modal-header">
                <h3>Ticket Details</h3>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Seat)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Seat.Id)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Session)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Session.Id)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
