@model IEnumerable<cinema_project.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<h1>Index</h1>

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addTicket" onclick="addTicket()">
    Add Ticket
</button>

<div id="ticketTable"></div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session.Id)
            </td>
            <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addTicket" onclick="addTicket(@item.Id)">
                    Edit
                </button> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function addTicket(id) {
        $.ajax({
            type: "Get",
            url: "/Tickets/CreateOrEdit" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#ticketTable").html(result);
                $("#addTicket").modal('show');
            }
        });
    }
</script>
