@model IEnumerable<cinema_project.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";

}

<h1>Tickets</h1>

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addTicket" onclick="addTicket()">
    Add Ticket
</button>

<div id="ticketTable"></div>
<div id="deleteTable"></div>
<div id="detailsTable"></div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session.Movie.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat.Hall.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat.Row)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat.Column)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var row = item.Seat.Row + 1;
            var column = item.Seat.Column + 1;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session.Movie.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seat.Hall.Name)
                </td>
                <td>
                    @row
                </td>
                <td>
                    @column
                </td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addTicket" onclick="addTicket(@item.Id)">
                        Edit
                    </button> |
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ticketDetails" onclick="ticketDetails(@item.Id)">
                        Details
                    </button> |
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteTicket" onclick="deleteTicket(@item.Id)">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function addTicket(id) {
        $.ajax({
            type: "Get",
            url: "/Tickets/CreateOrEdit" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#ticketTable").html(result);
                $("#addTicket").modal('show');
            }
        });
    }

    function ticketDetails(id) {
        $.ajax({
            type: "Get",
            url: "/Tickets/Details" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#detailsTable").html(result);
                $("#ticketDetails").modal('show');
            }
        });
    }

    function deleteTicket(id) {
        $.ajax({
            type: "Get",
            url: "/Tickets/Delete" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#deleteTable").html(result);
                $("#deleteTicket").modal('show');
            }
        });
    }
</script>
