@model IEnumerable<cinema_project.Models.Session>
@{
    ViewData["Title"] = "Choose Session Page";
}

<div class="text-center">
    <h1 class="display-4">Available Sessions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hall)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hall.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Name)
                    </td>
                    <td>
                        (@Html.DisplayFor(modelItem => item.Hall.RowNumber) * @Html.DisplayFor(modelItem => item.Hall.RowNumber)) - @Html.DisplayFor(modelItem => item.Tickets.Count)
                    </td>
                    <td>
                        <a asp-action="ChoosePlace" asp-route-id="@item.Id">Choose Place</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
