@model cinema_project.Models.Session

@{
    ViewData["Title"] = "_SessionDetailPartialView";
}


<div class="modal fade" role="dialog" tabindex="-1" id="sessionDetails" aria-labelledby="sessionDetailsLable" aria-hidden="true">
    <div class="modal-dialog" modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content" style="background-color:lightblue !important;">
            <div class="modal-header">
                <h3>Session Details</h3>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.StartDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Hall)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Hall.Name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Movie)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Movie.Name)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
