@model IEnumerable<cinema_project.Models.Session>

@{
    ViewData["Title"] = "Sessions";
}

<h1>Sessions</h1>

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addSession" onclick="addSession()">
    Add Session
</button>

<div id="sessionTable"></div>
<div id="deleteTable"></div>
<div id="detailsTable"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hall.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Name)
                </td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addSession" onclick="addSession(@item.Id)">
                        Edit
                    </button> |
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#sessionDetails" onclick="sessionDetails(@item.Id)">
                        Details
                    </button> |
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteSession" onclick="deleteSession(@item.Id)">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function addSession(id) {
        $.ajax({
            type: "Get",
            url: "/Sessions/CreateOrEdit" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#sessionTable").html(result);
                $("#addSession").modal('show');
                // Attach submit event handler to the form
                $("#sessionForm").submit(function (event) {
                    event.preventDefault(); // Prevent default form submission
                    var formData = $(this).serialize(); // Serialize form data
                    $.ajax({
                        type: "POST",
                        url: "/Sessions/CreateOrEdit",
                        data: formData,
                        success: function (result) {
                            if (result.success) {
                                if (result.message === 'Index') { // Validation passed
                                    location.reload();// Reload page to update main view
                                } else { // Validation failed
                                    $("#startdate").val(result.session.startDate);
                                    alert(result.errors);
                                }
                            }
                            else {
                                alert(result.message);
                            }
                        }
                    });
                });
            }
        });
    }
    function sessionDetails(id) {
        $.ajax({
            type: "Get",
            url: "/Sessions/Details" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#detailsTable").html(result);
                $("#sessionDetails").modal('show');
            }
        });
    }
    function deleteSession(id) {
        $.ajax({
            type: "Get",
            url: "/Sessions/Delete" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#deleteTable").html(result);
                $("#deleteSession").modal('show');
            }
        });
    }
</script>