@model Ticket
@{
    ViewData["Title"] = "_BuyTicket";
    var hall = Model.Seat.Hall;
    var session = Model.Session;
    var seat = Model.Seat;
    var movie = Model.Session.Movie;
    int column = seat.Column + 1;
    int row = seat.Row + 1;
}
<head>
    <link rel="stylesheet" href="~/css/partialView.css" asp-append-version="true" />
</head>
<div class="modal fade" role="dialog" tabindex="-1" id="buyTicket" aria-labelledby="addTicketLable" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content" style="background-color:#ffc8dd !important; border: 5px solid #cdb4db">
            <div class="modal-header"><h3>BuyTicket</h3></div>
            <div class="modal-body">
                <form asp-action="BuyTicket">
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control onlyLettersField" maxlength="30" required/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label hidden asp-for="SessionId" class="control-label"></label>
                        <input type="hidden" asp-for="SessionId" class="form-control" readonly></>
                    </div>
                    <div class="form-group">
                        <label asp-for="@session.StartDate" class="control-label"></label>
                        <input value="@session.StartDate" class="form-control" readonly></>
                    </div>
                    <div class="form-group">
                        <label asp-for="@session.EndDate" class="control-label"></label>
                        <input value="@session.EndDate" class="form-control" readonly></>
                    </div>
                    <div class="form-group">
                        <label asp-for="@hall.Name" class="control-label">HallName</label>
                        <input value="@hall.Name" class="form-control" readonly></>
                    </div>
                    <div class="form-group">
                        <label hidden asp-for="PlaceId" class="control-label"></label>
                        <input type="hidden" asp-for="PlaceId" class="form-control" readonly></>
                    </div>
                    <div class="form-group">
                        <label asp-for="@seat.Column" class="control-label"></label>
                        <input placeholder="@column" class="form-control" readonly></>
                    </div>
                    <div class="form-group">
                        <label asp-for="@seat.Row" class="control-label"></label>
                        <input placeholder="@row" class="form-control" readonly></>
                    </div>
                    <div class="form-group">
                        <label asp-for="@movie.Name" class="control-label">MovieName</label>
                        <input value="@movie.Name" class="form-control" readonly></>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/validator.js" type="text/javascript" asp-append-version="true"></script>